<div class="clr-row">
    <div class="clr-col-12 clr-col-md-4">
        <div class="clr-row clr-justify-content-center">
            <h1 style="font-weight: bolder;">Feel The Beer</h1>
        </div>
        <div class="clr-row clr-justify-content-center">
            <h3>Find your beer in one click</h3>
        </div>
    </div>
    <div class="clr-col-12 clr-col-md-4" style="margin-top: 20px;">
        <div class="clr-row clr-justify-content-center" style="margin-bottom: 25px;">
            <beer-form
                    [lastSearchTerm]="lastSearchTerm$ | async"
                    (beerFormEmitter)="requestBeerData($event)">
            </beer-form>
        </div>
    </div>
</div>

<div class="clr-row clr-justify-content-center">
    <div>
        <clr-spinner *ngIf="loading$ | async">Loading data</clr-spinner>
    </div>
    <div class="clr-col" *ngIf="!(loading$ | async)">
        <beer-list [beersList]="beersList$ | async"></beer-list>
    </div>
</div>

