/* You can add global styles to this file, and also import other style files */
.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-2 {
    margin-bottom: 2rem;
}


.bg-cream {
    background-color: #EAE7DC !important;
}

.c-grey {
    color: #8E8D8A !important;
}
